<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont2.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/system/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			[v-cloak] {
				visibility: hidden;
				display: none !important;
			}

			.mui-bar-tab .mui-tab-item.mui-active {
				color: #00CFBD;
			}
		</style>
	</head>


	<body>
		<nav v-show="showArray.length>1" v-cloak class="mui-bar mui-bar-tab" id="indexPage">
			<template v-cloak v-for="(model,index) in showArray">
				<a v-cloak :id=model.tempID :class='index==0?"mui-tab-item mui-active":"mui-tab-item"' :href=model.href>
					<span v-cloak :class=model.cls><span class="mui-badge"
							v-if="model.NoReadCnt>0">{{model.NoReadCnt}}</span></span>
					<span v-cloak class="mui-tab-label">{{model.name}}</span>
				</a>
			</template>
		</nav>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var subpage_style = {
				top: '0px',
				bottom: '51px',
				statusbar: {
					background: "#00CFBD"
				}
			};

			window.addEventListener('home_refresh', function(data) {
				location.reload();
			});

			//获取未读数
			window.addEventListener('showNoReadCnt', function(data) {
				//获取未读数
				console.log('showNoReadCnt.data:' + JSON.stringify(data.detail));
				for (var i = 0; i < indexPage.showArray.length; i++) {
					var tempM = indexPage.showArray[i];
					if (tempM.url == data.detail.url) {
						tempM.NoReadCnt = data.detail.showNoReadCnt;
					}
				}
			});

			var indexPage = new Vue({
				el: "#indexPage",
				data: {
					showArray: [],
					pageArray: [
						{
							name: "stuLeave", //学生请假
							href: "../leave/stuLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-student',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'schapp_stuLeave',
							childList: []
						},
						{
							name: "parLeave", //家长代请假
							href: "../leave/parLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-parent',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'schapp_parLeave',
							childList: []
						},
						{
							name: "teaLeave", //教师代请假
							href: "../leave/teaLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-teacher',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'schapp_teaLeave',
							childList: [{
									name: '教师代请假',
									icon: '../../image/leave/zhouce.png',
									href: "../leave/teaLeaveAsk.html",
									url: 'schapp_teaLeave_askForLeave'
								},
								{
									name: '代请假查询',
									icon: '../../image/leave/yuekao.png',
									href: "../leave/teaLeaveQuery.html",
									url: 'schapp_teaLeave_leaveSelect'
								},
							]
						},
					]
				}
			});

			//创建子页面，首个选项卡页面显示，其它均隐藏；
				var tempMenu = store.get(window.storageKeyName.MENULIST);
				console.log('tempMenu:' + JSON.stringify(tempMenu));
				var tempA = [];
				for (var i = 0; i < tempMenu.list[0].childList.length; i++) { //一级菜单循环
					var web_first_item = tempMenu.list[0].childList[i];
					for (var a = 0; a < indexPage.pageArray.length; a++) {
						var local_first_item = indexPage.pageArray[a];
						if (local_first_item.url == web_first_item.url) {
							local_first_item.name = web_first_item.name;
							local_first_item.access = web_first_item.access;
							let childList = []
							for (var b = 0; b < web_first_item.childList.length; b++) { //二级菜单循环
								var web_second_item = web_first_item.childList[b];
								for (var c = 0; c < local_first_item.childList.length; c++) {
									var local_second_item = local_first_item.childList[c];
									if (local_second_item.url == web_second_item.url) {
										local_second_item.access = web_second_item.access;
										local_second_item.redspot_url = web_second_item.redspot_url;
										local_second_item.childList = web_second_item.childList;
										local_second_item.name = web_second_item.name;
										childList.push(local_second_item)
									}
								}
							}
							local_first_item.childList = childList
							tempA.push(local_first_item);
						}
					}
				}
				for (var i = 0; i < tempA.length; i++) {
					tempA[i].index = i;
				}
				indexPage.showArray = [].concat(tempA);
				var personal = store.get(window.storageKeyName.PERSONALINFO);
				if (indexPage.showArray.length == 0) {
					mui.toast('暂无可用菜单');
				}else{
					let childOrParent=indexPage.showArray[0]
					if(childOrParent.childList.length>0){
						childOrParent=childOrParent.childList
					}
					 utils.mOpenWithData("../leave/teaLeaveIndex.html", childOrParent);
					
					/** 请阅读最后一句话 */
					// if (tempA.length > 5) {
					// 	var tempArrayM = tempA.slice(4);
					// 	store.set(window.storageKeyName.MOREMENU, tempArrayM);
					// 	tempA = tempA.slice(0, 4);
					// 	tempA.push({
					// 		name: "更多",
					// 		href: "../html/more/index.html",
					// 		tempID: 'kejiao4',
					// 		cls: 'mui-icon iconfont icon-gengduo',
					// 		url: 'more',
					// 	});
					// }
					// if (indexPage.showArray.length == 1) {
					// 	subpage_style.bottom = '0px';
					// }
					// var defaultUrl = indexPage.showArray[0].href;
					// var self = plus.webview.currentWebview();
					// var tempM = indexPage.showArray[0];
					// var sub = plus.webview.create(defaultUrl, defaultUrl, subpage_style, {
					// 	preload: tempM
					// });
					// self.append(sub);
					// //当前激活选项
					// activeTab = defaultUrl;
					// var title = document.getElementById("title");
					// console.log('11111111');
					// //选项卡点击事件
					// mui('.mui-bar-tab').on('tap', 'a', function(e) {
					// 	var targetTab = this.getAttribute('href');
					// 	console.log('11111111222:' + targetTab);
					// 	if (targetTab == activeTab) {
					// 		return;
					// 	} else {
					// 		var viewIsExists = plus.webview.getWebviewById(targetTab);
					// 		if (viewIsExists == null || viewIsExists == '' || viewIsExists == undefined) {
					// 			for (var i = 0; i < indexPage.showArray.length; i++) {
					// 				var tempM = indexPage.showArray[i];
					// 				if (targetTab == tempM.href) {
					// 					var pageIndex = plus.webview.getWebviewById(targetTab);
					// 					var newSub = plus.webview.create(targetTab, targetTab, subpage_style, {
					// 						preload: tempM
					// 					});
					// 					newSub.hide();
					// 					self.append(newSub);
					// 				}
					// 			}
					
					// 		}
					// 	}
					// 	//更换标题
					// 	//title.innerHTML = this.querySelector('.mui-tab-label').innerHTML;
					// 	plus.webview.show(targetTab, "fade-in", 00);
					// 	//隐藏当前;
					// 	plus.webview.hide(activeTab);
					// 	//更改当前活跃的选项卡 
					// 	activeTab = targetTab;
					// });
					// setTimeout(function() {
					// 	var defaultTab = document.getElementById(indexPage.showArray[0].tempID);
					// 	console.log('11111111defaultTab:' + defaultTab);
					// 	//模拟首页点击
					// 	mui.trigger(defaultTab, 'tap');
					// 	//切换选项卡高亮
					// 	var current = document.querySelector(".mui-bar-tab>.mui-tab-item.mui-active");
					// 	if (defaultTab !== current) {
					// 		current.classList.remove('mui-active');
					// 		defaultTab.classList.add('mui-active');
					// 	}
					// }, 1000);
					
					/** 以上内容均在微信H5页面内容中无法使用用，需要使用其他方案替代底部tab栏，因需求单一，时间紧迫，不做了 */
				}
		</script>
	</body>

</html>
