<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont2.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/system/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			[v-cloak] {
				visibility: hidden;
				display: none !important;
			}

			.mui-bar-tab .mui-tab-item.mui-active {
				color: #00CFBD;
			}
		</style>
	</head>


	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<h1 class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" id="indexPage" style="background-color: #f2f2f2;padding-bottom: 5px;">
			<div v-cloak class="mui-card" v-for="(model,index) in showArray">
				<div v-cloak class="mui-card-header">{{model.name}}</div>
				<div v-cloak class="mui-card-content">
					<div v-cloak class="mui-card-content-inner">
						<template v-if="model.childList.length>0">
							<!-- 如果有子菜单 -->
							<ul class="mui-table-view mui-grid-view mui-grid-9"
								style="background-color: white;padding-left: 7px;margin-top: 0px;">
								<li v-for="(childModel,childIndex) in model.childList" @tap="clickFunction(childModel)"
									class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3"
									style="border: 0px;padding:10px 5px">
									<a href="javascript:void(0)">
										<img class="circular-square2" :src=childModel.icon />
										<div class="mui-media-body divNameCss">{{childModel.name}}</div>
									</a>
								</li>
							</ul>
						</template>
						<template v-if="model.childList.length==0">
							<!-- 如果没有子菜单 -->
							<ul class="mui-table-view mui-grid-view mui-grid-9"
								style="background-color: white;padding-left: 7px;margin-top: 0px;">
								<li v-cloak @tap="clickFunction(model)"
									class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3"
									style="border: 0px;padding:10px 5px">
									<a href="javascript:void(0)">
										<img class="circular-square" :src=model.img_href />
										<div class="mui-media-body divNameCss">{{model.name}}</div>
									</a>
								</li>
							</ul>
						</template>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var subpage_style = {
				top: '0px',
				bottom: '51px',
				statusbar: {
					background: "#00CFBD"
				}
			};

			window.addEventListener('home_refresh', function(data) {
				location.reload();
			});

			//获取未读数
			window.addEventListener('showNoReadCnt', function(data) {
				//获取未读数
				console.log('showNoReadCnt.data:' + JSON.stringify(data.detail));
				for (var i = 0; i < indexPage.showArray.length; i++) {
					var tempM = indexPage.showArray[i];
					if (tempM.url == data.detail.url) {
						tempM.NoReadCnt = data.detail.showNoReadCnt;
					}
				}
			});

			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					headTitle: '智慧校园'
				}
			});

			// var contentData = new Vue({
			// 	el: "#contentData",
			// 	data: {
			// 		gridList: []
			// 	},
			// 	methods: {
			// 		clickFunction: function(model) {
			// 			console.log("model: " + JSON.stringify(model));
			// 			// var personal0 = store.get(window.storageKeyName.PERSONALINFO);
			// 			utils.mOpenWithData(model.href, model);
			// 		}
			// 	}
			// });

			mui.plusReady(function() {
				var ws = plus.webview.currentWebview();
				console.log("当前Webview窗口：" + JSON.stringify(ws.preload));
				//创建子页面，首个选项卡页面显示，其它均隐藏；
				var tempMenu = store.get(window.storageKeyName.MENULIST);
				console.log('tempMenu:' + JSON.stringify(tempMenu));
				var tempA = [];
				// for (var i = 0; i < tempMenu.list[0].childList.length; i++) { //一级菜单循环
				// 	var web_first_item = tempMenu.list[0].childList[i];
				// 	for (var a = 0; a < indexPage.pageArray.length; a++) {
				// 		var local_first_item = indexPage.pageArray[a];
				// 		if (local_first_item.url == web_first_item.url) {
				// 			local_first_item.name = web_first_item.name;
				// 			local_first_item.access = web_first_item.access;
				// 			let childList = []
				// 			for (var b = 0; b < web_first_item.childList.length; b++) { //二级菜单循环
				// 				var web_second_item = web_first_item.childList[b];
				// 				for (var c = 0; c < local_first_item.childList.length; c++) {
				// 					var local_second_item = local_first_item.childList[c];
				// 					if (local_second_item.url == web_second_item.url) {
				// 						local_second_item.access = web_second_item.access;
				// 						local_second_item.redspot_url = web_second_item.redspot_url;
				// 						local_second_item.childList = web_second_item.childList;
				// 						local_second_item.name = web_second_item.name;
				// 						childList.push(local_second_item)
				// 					}
				// 				}
				// 			}
				// 			local_first_item.childList = childList
				// 			tempA.push(local_first_item);
				// 		}
				// 	}
				// }
				// for (var i = 0; i < tempA.length; i++) {
				// 	tempA[i].index = i;
				// }
				// console.log('tempA:'+JSON.stringify(tempA));
				// indexPage.showArray = [].concat(tempA);
				// var personal = store.get(window.storageKeyName.PERSONALINFO);
				// if (indexPage.showArray.length == 0) {
				// 	mui.toast('暂无可用菜单');
				// } 
			});

			var indexPage = new Vue({
				el: "#indexPage",
				data: {
					showArray: [],
					pageArray: [{
							name: "stuLeave", //学生请假
							href: "../leave/stuLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-student',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'wechatapp_stuLeave',
							childList: []
						},
						{
							name: "parLeave", //家长代请假
							href: "../leave/parLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-parent',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'wechatapp_parLeave',
							childList: []
						},
						{
							name: "teaLeave", //教师代请假
							href: "../leave/teaLeaveIndex.html",
							img_href: "../../image/leave/kaowu_tab.png",
							tempID: 'leave-teacher',
							cls: 'mui-icon iconfont icon-kaowuxitong',
							url: 'wechatapp_teaLeave',
							childList: [{
									name: '教师代请假',
									icon: '../../image/leave/zhouce.png',
									href: "../leave/teaLeaveAsk.html",
									url: 'wechatapp_teaLeave_askForLeave'
								},
								{
									name: '代请假查询',
									icon: '../../image/leave/yuekao.png',
									href: "../leave/teaLeaveQuery.html",
									url: 'wechatapp_teaLeave_leaveSelect'
								},
							]
						},
						{
							name: "markingPapers", //阅卷--老师
							href: "../../html/markingPapers/index.html",
							img_href: "../../img/markingPapers/markingPapers_tab.png",
							tempID: 'markingPapers',
							cls: 'mui-icon iconfont icon-yuejuan',
							url: 'wechatapp_markingPapers',
							childList: [{
									name: '周测',
									icon: '../../img/markingPapers/zhouce.png',
									href: "../../html/markingPapers/weekTest_index.html",
									url: 'wechatapp_markingPapers_weekTest'
								},
								{
									name: '月考',
									icon: '../../img/markingPapers/yuekao.png',
									href: "../../html/markingPapers/monthTest_index.html",
									url: 'wechatapp_markingPapers_monthTest'
								},
								{
									name: '期中期末',
									icon: '../../img/markingPapers/qizhongqimo.png',
									href: "../../html/markingPapers/termTest_index.html",
									url: 'wechatapp_markingPapers_termTest'
								},
							]
						},
					]
				}
			});
		</script>
	</body>

</html>
