<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教宝校园</title>
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src="../../js/utils/vue.js"></script>
		<style type="text/css">
		</style>
	</head>

	<body style="background: white;">
		<div id='indexContent' style="margin: 20px 0 0 20px;" v-if="showInput==1">
			<input v-model="inputStr" type="text" placeholder="请输入密码" style="color: #000000;float: left;width: 150px;">
			<button @click="clickBtn()" type="button" class="mui-btn"
				style="background-color: #00cfbd;color: white;border-color: white;width: 100px;margin-left: 10px;margin-top: 3px;">确定</button>
		</div>
		<script type="text/javascript">
			var tempGo = '';
			window.onload = function() {
				console.log('页面url:' + window.location.href);
				var tempUrl = window.location.href;
				console.log('tempUrl0:' + tempUrl);
				var tempUrl1 = tempUrl.replace('index', 'registerIndex');
				console.log('tempUrl1:' + tempUrl1);
				var tempArray = tempUrl.split('/');
				console.log('tempArray:' + JSON.stringify(tempArray));
				var appid = '';
				for (var a = 0; a < tempArray.length; a++) {
					if (tempArray[a].indexOf("wx") != -1) {
						appid = tempArray[a];
					}
				}
				tempGo = 'https://jsypay.jiaobaowang.net/jsypaym/wxpay/ThdGetOpenid.ashx?appid=' + appid + '&returi=' +
					encodeURI(tempUrl1);
				// 向服务器传递appid、返回URL
				if (window.storageKeyName.key == 5) {
					location.replace(tempGo);
				}else{
					indexContent.showInput = 1;
				}
			};
			var indexContent = new Vue({
				el: '#indexContent',
				data: {
					showInput: 0,
					inputStr:'',
				},
				methods: {
					clickBtn: function() {
						console.log('inputStr:' + indexContent.inputStr);
						if (indexContent.inputStr == '111111a') {
							location.replace(tempGo);
						} else {
							mui.toast('密码错误');
						}
					},
				}
			});
		</script>
	</body>

</html>
