<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- <meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" /> -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/common.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/weui.min.css"/>
		<!-- <link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" /> -->
		<style>
			[v-cloak] {
				visibility: hidden;
				display: none !important;
			}

			/* html,
			body {
				background-color: #efeff4;
			} */
			html,
			body {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			.mui-popover {
				height: 200px;
			}
			.mui-navigate-right:after,
			.mui-push-left:after,
			.mui-push-right:after {
				font-family: Muiicons;
				font-size: inherit;
				line-height: 1;
				position: absolute;
				top: 50%;
				display: inline-block;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				text-decoration: none;
				color: white;
				-webkit-font-smoothing: antialiased;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">{{titleName}}</h1>
		</header>
		<div id="datasource" class="mui-content mui-fullscreen" v-cloak>
			<div class="mui-scroll-wrapper" id="scroll2">
				<div class="mui-scroll">
			<p v-if="currentInfoData.count_info" style="margin-top: 50px;text-align: center;color: black;">
				该题组已阅{{currentInfoData.count_info.view_count}}份，当前第{{currentInfoData.count_info.count}}份，任务量{{currentInfoData.count_info.group_count}}份
			</p>
			<a href="#middlePopover" class="mui-btn mui-btn-primary mui-btn-block mui-navigate-right"
				style="padding: 5px 20px;width: 150px;margin-top: 10px;margin-left: 5%;text-align: left;background-color: #00CFBD;border-color: #00CFBD;font-size: 14px;">题组{{nowGroupNumber}}</a>
			<div v-if="currentInfoData.eqs" style="margin-left: 20px;margin-top: 10px;"
				v-for="eqsModel in currentInfoData.eqs">
				<span
					style="color: #00CFBD;border: 1px solid #00CFBD;border-radius: 3px;font-size: 13px;">第{{eqsModel.question_number}}题得分</span>
				<div v-if="eqsModel.step_score_list">
					<div style="margin-top: 5px;">
						<div style="margin-top: 5px;" v-for="(stepModel,index) in eqsModel.step_score_list">
							<span style="color: #00CFBD;">({{index+1}})</span>
							<input type="number" @blur="inputChange(stepModel)" placeholder="请输入分数" style="width: 150px;font-size: 13px;"
								v-model="stepModel.stu_score">
							<button class="mui-btn" @tap='clickScore(stepModel)'
								style="font-size: 13px;color: #00CFBD;width: 60px;height: 40px;margin-left: -7px;">/{{stepModel.score}}</button>
						</div>
					</div>
				</div>
				<div v-else>
					<div style="margin-top: 5px;">
						<input type="number" @blur="inputChange(eqsModel)" placeholder="请输入分数" style="width: 150px;font-size: 13px;"
							v-model="eqsModel.stu_score">
						<button class="mui-btn" @tap='clickScore(eqsModel)'
							style="font-size: 13px;color: #00CFBD;width: 60px;height: 40px;margin-left: -7px;">/{{eqsModel.score}}</button>
					</div>
				</div>
			</div>
			<div v-if="currentInfoData.evaluation" @tap='clickSubmit'
				style="width: 80px;margin-left: 40px;background-color: #00CFBD;border-color: #00CFBD;margin-bottom: 20px;"
				class="mui-btn mui-btn-primary">
				提交
			</div>
			<p style="color: #d43030;margin-left: 20px;margin-bottom: 0px;">如需添加批阅，请点击图片</p>
			<div v-if="imgSrc" @tap='clearImg'style="width: 120px;margin-left: 20px;background-color: #00CFBD;border-color: #00CFBD;margin-bottom: 10px;margin-top: 10px;"
				class="mui-btn mui-btn-primary">清空全部批阅</div>
			<img :src=imgSrc style="margin: 0px 20px 0px 20px;width: 85%;" onclick="usePED()">
		</div></div></div>
		<div id="middlePopover" class="mui-popover" style="width: 150px;" v-cloak>
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li v-for="(number,index) in groupNumberArray" class="mui-table-view-cell"
							@tap="clickLi(number,index)">
							<a href="#">题组{{number}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="./ped.js"></script>
		<!-- <script src="../../js/ped/GLOBAL.js"></script>
		<script src="../../js/ped/ImageInfo.js"></script>
		<script src="../../js/ped/Utils.js"></script> -->
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script src="../../js/utils/mui.picker.js"></script>
		<script src="../../js/utils/mui.poppicker.js"></script>
		<!--  -->
		<script src="../../js/utils/cryption.js"></script>
		<script src="../../js/picVideoAudio/camera.js"></script>
		<script src="../../js/cloud/load.js"></script>
		<script src="../../js/cloud/CloudFileUtil.js"></script>
		<script src="../../js/cloud/AndroidFileSystem.js"></script>
		<script src="../../js/picVideoAudio/UploadHeadImage.js"></script>
		<script src="../../js/picVideoAudio/compress.js"></script>
		<script type="text/javascript">
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var curPage = {};

			// mui.init();
			mui.init({
				//重写物理/虚拟返回按钮，防止与弹出层冲突
				beforeback: function() {
					// plus.screen.lockOrientation('portrait-primary');
				}
			});

			var tempVue = new Vue({
				el: "#tempVue",
				data: {
					titleName: ''
				}
			});
			var ped = null

			function usePED() {
				mui('#scroll2').scroll().scrollTo(0, 0);
				ped = new PED.imageInfo(datasource.imgSrc, saveFn);
			}
			var datasource = new Vue({
				el: "#datasource",
				data: {
					nowGroupNumber: 0, //当前题组
					currentInfoData: {},
					typeFlag: 0, //0未选择对错标识，1对，2错，3半对
					typeArray: [], //点的标识数组
					imgPed: null, //
					imgSrc: '', //试卷图片
					imgSrcFlag: 0, //判断是否进行涂鸦
				},
				methods: {
					clickType: function(tempType) {
						console.log('tempType:' + tempType);
						if (datasource.typeFlag == tempType) {
							datasource.typeFlag = 0;
						} else {
							datasource.typeFlag = tempType;
						}
					},
					clickScore: function(model) {
						model.stu_score = model.score;
					},
					inputChange: function(model) {
						console.log('inputChange.model:' + JSON.stringify(model));
						model.stu_score = parseFloat(model.stu_score).toFixed(1);
						if (parseFloat(model.stu_score).toFixed(1) >= 0 && parseFloat(model.stu_score)
							.toFixed(1) <= parseFloat(model.score).toFixed(1)) {
							console.log('正常')
						} else {
							mui.toast('请输入正确的分数');
						}
					},
					clearImg:function(){
						datasource.imgSrcFlag = 0;
						datasource.imgSrc = datasource.currentInfoData.evaluation.painting_img?datasource.currentInfoData.evaluation.painting_img:datasource.currentInfoData.evaluation.stu_answer_img;
					},
					clickSubmit: function() {
						console.log('clickSubmit:' + JSON.stringify(datasource.currentInfoData));
						var tempFlag = 0; //判断分数是否输入正确
						var tempA = [];
						for (var i = 0; i < datasource.currentInfoData.eqs.length; i++) {
							var tempE = datasource.currentInfoData.eqs[i];
							var tempEqs = {};
							var tempScore = 0; //
							if (tempE.step_score_list) {
								for (var a = 0; a < tempE.step_score_list.length; a++) {
									var tempS = tempE.step_score_list[a];
									if (parseFloat(tempS.stu_score).toFixed(1) >= 0 && parseFloat(tempS
											.stu_score).toFixed(1) <= parseFloat(tempS.score).toFixed(
											1)) {
										tempScore = parseFloat(tempScore) + parseFloat(tempS.stu_score);
									} else {
										tempFlag++;
									}
								}
								tempE.stu_score = tempScore;
							}
							if (parseFloat(tempE.stu_score).toFixed(1) >= 0 && parseFloat(tempE
									.stu_score).toFixed(1) <= parseFloat(tempE.score)) {
								tempEqs.evaluation_id = tempE.evaluation_id;
								tempEqs.id = tempE.id;
								tempEqs.question_number = tempE.question_number;
								tempEqs.score = tempE.score;
								if (tempE.step_score_list) {
									tempEqs.step_score_list = [].concat(tempE.step_score_list);
									var tempScore = 0;
									for (var a = 0; a < tempE.step_score_list.length; a++) {
										var tempS = tempE.step_score_list[a];
										tempScore = tempScore + parseFloat(tempS.stu_score).toFixed(1);
									}
									tempEqs.stu_score = tempE.stu_score;
								} else {
									tempEqs.step_score_list = [];
									tempEqs.stu_score = tempE.stu_score;
								}
								tempEqs.task_id = tempE.task_id;
							} else {
								tempFlag++;
							}
							tempA.push(tempEqs);
						}
						if (tempFlag == 0) {
							var tempMMM = {
								id: datasource.currentInfoData.evaluation.id, //题组id
								symbols: datasource.typeArray, //标记坐标信息
								task_id: datasource.currentInfoData.evaluation.task_id, //任务id
							};
							comData = {
								index_code: curPage.access.split('#')[1],
								task_id: curPage.id, //任务id
								user_code: personal.user_code, //用户代码
								evaluation: tempMMM,
								eqs: tempA, //题组下题目
							}
							events.showWaiting();
							if (datasource.imgSrcFlag == 0) {
								//1.6.保存批改
								postDataEncry(window.storageKeyName.INTERFACE_MARKINGPAPERS + 'evaluation/save', {},
									comData, 2,
									function(data) {
										events.closeWaiting();
										if (data.code == 0) {
											datasource.imgSrcFlag = 0;
											datasource.typeFlag = 0;
											datasource.typeArray = [];
											//1.5.阅卷任务题组的批改情况
											getCurrentInfoData();
										} else {
											mui.toast(data.msg);
										}
									});
							} else {
								// 先将涂鸦后的图片，上传七牛
								var wd = events.showWaiting();
								var fileName = 'markingPapers' + new Date().getTime();
								var tempData = datasource.imgSrc.replace('data:image/png;base64,','');
								UploadHeadImage.uploadIDCardHeadImge(wd, 1, fileName, tempData, function(domain) {
									console.log("domain: " + JSON.stringify(domain));
									tempMMM.painting_img = domain;
									comData.evaluation = tempMMM;
									console.log('comData:::'+JSON.stringify(comData));
									events.showWaiting();
									//1.6.保存批改
									postDataEncry(window.storageKeyName.INTERFACE_MARKINGPAPERS + 'evaluation/save', {},
										comData, 2,
										function(data) {
											events.closeWaiting();
											if (data.code == 0) {
												datasource.imgSrcFlag = 0;
												datasource.typeFlag = 0;
												datasource.typeArray = [];
												//1.5.阅卷任务题组的批改情况
												getCurrentInfoData();
											} else {
												mui.toast(data.msg);
											}
										});
								}, function() {
									events.closeWaiting();
								})
							}

						} else {
							mui.toast('请输入正确的分数');
						}
					}
				}
			});

			function saveFn(data) {
				datasource.imgSrcFlag = 1;
				// document.getElementById('showImg').src = data;
				datasource.imgSrc = data;
			}
			var middlePopover = new Vue({
				el: "#middlePopover",
				data: {
					nowGroupNumber: 0, //当前题组
					groupNumberArray: [] //题组列表
				},
				methods: {
					clickLi: function(number, index) {
						mui('#middlePopover').popover('toggle');
						if (middlePopover.nowGroupNumber != number) {
							middlePopover.nowGroupNumber = number;
							datasource.nowGroupNumber = number;
							datasource.currentInfoData = {};
							datasource.typeFlag = 0;
							datasource.typeArray = [];
							//1.5.阅卷任务题组的批改情况
							getCurrentInfoData();
						}
					}
				}
			});

			window.onload = function() {
				mui('.mui-scroll-wrapper').scroll();
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				tempVue.titleName = curPage.name;
				events.showWaiting();
				//1.4.阅卷任务题组列表
				getGroupNumberData();
			};

			// 1.4.阅卷任务题组列表
			function getGroupNumberData() {
				//需要加密的数据
				comData = {
					index_code: curPage.access.split('#')[1],
					task_id: curPage.id, //任务id
					user_code: personal.user_code, //用户代码
				}
				//1.4.阅卷任务题组列表
				postDataEncry(window.storageKeyName.INTERFACE_MARKINGPAPERS + 'evaluation/getGroupNumber', {}, comData, 2,
					function(data) {
						events.closeWaiting();
						if (data.code == 0) {
							if (data.data.list && data.data.list.length > 0) {
								middlePopover.groupNumberArray = [].concat(data.data.list);
								middlePopover.nowGroupNumber = data.data.list[0];
								datasource.nowGroupNumber = data.data.list[0];
								//1.5.阅卷任务题组的批改情况
								getCurrentInfoData();
							} else {
								mui.toast('当前试卷没有可阅题组');
							}
						} else {
							mui.toast(data.msg);
						}
					});
			};

			//1.5.阅卷任务题组的批改情况
			function getCurrentInfoData() {
				//需要加密的数据
				comData = {
					index_code: curPage.access.split('#')[1],
					task_id: curPage.id, //任务id
					user_code: personal.user_code, //用户代码
					group_number: datasource.nowGroupNumber, //题组号码
				}
				//1.5.阅卷任务题组的批改情况
				postDataEncry(window.storageKeyName.INTERFACE_MARKINGPAPERS + 'evaluation/currentInfo', {}, comData, 2, function(
					data) {
					events.closeWaiting();
					if (data.code == 0) {
						if (data.data.evaluation) {
							for (var i = 0; i < data.data.eqs.length; i++) {
								var tempE = data.data.eqs[i];
								if (tempE.stu_score) {

								} else {
									tempE.stu_score = '';
								}
								if (tempE.step_score_list) {
									for (var a = 0; a < tempE.step_score_list.length; a++) {
										var tempS = tempE.step_score_list[a];
										if (tempS.stu_score) {

										} else {
											tempS.stu_score = '';
										}
									}
								}
							}
							datasource.currentInfoData = data.data;
							datasource.imgSrc = datasource.currentInfoData.evaluation.painting_img?datasource.currentInfoData.evaluation.painting_img:datasource.currentInfoData.evaluation.stu_answer_img;
						}
						if (data.data.msg) {
							mui.toast(data.data.msg);
						}
					} else {
						mui.toast(data.msg);
					}
				});
			};
		</script>
	</body>

</html>
